<!DOCTYPE html>
<html>
  <div class="form_wrapper">
    <div id="agency">
      <h4> Please pick a station:</h4>
    </div>
    <div id="title">
      <title> PATH Station Schedules</title>
    </div>
    <div id="route_form">
      <%= form_tag stations_path, method: "get" do %>

      <%= label_tag :stop, "Station stop" %>
      <%= select_tag(:stop, options_for_select([
        ['Newark', 'Newark Penn Station'],
        ['Harrison', 'Harrison'],
        ['JSQ', 'Journal Square'],
        ['Grove St.', 'Grove Street'],
        ['Exchange Pl.', 'Exchange Place'],
        ['WTC', 'World Trade Center'],
        ['Pavonia/Newport', 'Newport'],
        ['Hoboken', 'Hoboken'],
        ['Christopher St.', 'Christopher Street'],
        ['9th St.', '9th Street'],
        ['14th St.', '14th Street'],
        ['23th St.', '23rd Street'],
        ['33rd St.', '33rd Street']
        ])) %>

      <%= label_tag :direction, "Direction" %>
      <%= select_tag(:direction, options_for_select([['Inbound', 'inbound'], ['Outbound', 'outbound']])) %>

      <%= label_tag :day, "Which Day" %>
      <%= select_tag(:day, options_for_select([['Mon-Fri', 'Mon-Fri'], ['Saturday', 'Saturday'], ['Sunday', 'Sunday'] ])) %>

      <%= submit_tag "Find Schedule" %>

      <% end %>
    </div>
    <div id="timetable">
      <% @sorted_timesandroutes.each do |time| %>
       <li><%= time %></li>
      <% end %>
    </div>
  </div>
</html>
