<p id="notice"><%= notice %></p>

<p>
  <strong>Agency:</strong>
  <%= @fare.agency_id %>
</p>

<p>
  <strong>Currency type:</strong>
  <%= @fare.currency_type %>
</p>

<p>
  <strong>Fare:</strong>
  <%= @fare.fare_id %>
</p>

<p>
  <strong>Payment method:</strong>
  <%= @fare.payment_method %>
</p>

<p>
  <strong>Price:</strong>
  <%= @fare.price %>
</p>

<p>
  <strong>Price:</strong>
  <%= @fare.price %>
</p>

<p>
  <strong>Transfer duration:</strong>
  <%= @fare.transfer_duration %>
</p>

<p>
  <strong>Transfers:</strong>
  <%= @fare.transfers %>
</p>

<%= link_to 'Edit', edit_fare_path(@fare) %> |
<%= link_to 'Back', fares_path %>
