<p id="notice"><%= notice %></p>

<p>
  <strong>Dist traveled:</strong>
  <%= @shape.dist_traveled %>
</p>

<p>
  <strong>Shape:</strong>
  <%= @shape.shape_id %>
</p>

<p>
  <strong>Pt lat:</strong>
  <%= @shape.pt_lat %>
</p>

<p>
  <strong>Pt lon:</strong>
  <%= @shape.pt_lon %>
</p>

<p>
  <strong>Pt sequence:</strong>
  <%= @shape.pt_sequence %>
</p>

<%= link_to 'Edit', edit_shape_path(@shape) %> |
<%= link_to 'Back', shapes_path %>
