<%= @stop.name %>

<%= form_tag stop_path, method: "get" do %>
  <%= label_tag :direction, "Direction" %>
  <%= select_tag(:direction, options_for_select([['Inbound', '1'], ['Outbound', '0']])) %>

  <%= label_tag :day, "Day" %>
  <%= select_tag(:day, options_for_select([
    ['Sunday', 'Sunday'],
    ['Monday', 'Monday'],
    ['Tuesday', 'Tuesday'],
    ['Wednesday', 'Wednesday'],
    ['Thursday', 'Thursday'],
    ['Friday', 'Friday'],
    ['Saturday', 'Saturday']])) %>

  <%= submit_tag "Submit" %>
<% end %>

<table>
  <tr>
    <td>Arrival Time</td>
    <td>Departure Time</td>
    <td>Direction</td>
    <td>Route</td>
  </tr>

  <% @stop_times.find_each do |time| %>
    <tr>
    	<td id="arrival"><%= Chronic.parse(time.arrival_time).strftime("%l:%M %P") %></td>
    	<td id="departure"><%= Chronic.parse(time.departure_time).strftime("%l:%M %P") %></td>

      <% if time.trip.direction_id == "1" %>
        <td id="direction">Inbound</td>
      <% elsif time.trip.direction_id == "0" %>
        <td id="direction">Outbound</td>
      <% end %>

      <td id="route"><%= time.trip.route.long_name %></td>
    </tr>
  <% end %>
</table>