<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @calendar_date.date %>
</p>

<p>
  <strong>Exception type:</strong>
  <%= @calendar_date.exception_type %>
</p>

<p>
  <strong>Service:</strong>
  <%= @calendar_date.service_id %>
</p>

<%= link_to 'Edit', edit_calendar_date_path(@calendar_date) %> |
<%= link_to 'Back', calendar_dates_path %>
